#linkButton {
    color: black;
    text-decoration: none;
    padding: 10px;
}

#linkButton:hover {
        background-color: aquamarine;
        color: black;
        text-decoration: none;
        padding: 10px;
}
