@model GestorTareas.Web.Models.ChangePasswordViewModel;

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />
<h1>Cambiar Contraseña</h1>
<hr />

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-5">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    @*<div class="col-lg-15">*@
                        <div class="card-body p-md-5 mx-md-4">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <label asp-for="CurrentPassword" class="control-label"></label>
                                    <input asp-for="CurrentPassword" class="form-control" type="password" minlength="6" maxlength="12" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                                    <label asp-for="NewPassword" class="control-label"></label>
                                    <input asp-for="NewPassword" class="form-control" type="password" minlength="6" maxlength="12" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                                    <label asp-for="RepeatedNewPassword" class="control-label"></label>
                                    <input asp-for="RepeatedNewPassword" class="form-control" type="password" minlength="6" maxlength="12" />
                                    <span asp-validation-for="RepeatedNewPassword" class="text-danger"></span>
                                <br />
                                <div class="text-center pt-1 mb-5 pb-1">
                                    <input type="submit" value="Cambiar Contraseña" class="btn btn-outline-primary btn-block fa-lg" />
                                </div>
                            </form>
                        </div>
                    @* </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
