@model GestorTareas.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Inicio de Sesión";
}

<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />
<link href="~/css/Login.css" type="text/css" rel="stylesheet"/>

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <form method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-outline mb-4">
                    <label asp-for="Email" class="form-label" for="form2Example11">Correo Electrónico</label>
                    <input type="email" asp-for="Email" id="form2Example11" class="form-control"
                      placeholder="Correo Electrónico" />
                    
                  </div>

                  <div class="form-outline mb-4">
                      <label class="form-label" asp-for="Password" for="form2Example22">Contraseña</label>
                      <input type="password" asp-for="Password" id="form2Example22" class="form-control" placeholder="Contraseña" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                      <input class="btn btn-outline-primary btn-block fa-lg" value="Iniciar Sesión" type="submit" />
                  </div>
                </form>

              </div>
            </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }