@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/estilosHome.css" />
<body style="background-image: url('../images/Home_Pictures/bannerweb_40aniv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
</body>
