@{
    ViewData["Title"] = "Home Page";
    ViewBag.BackgroundImage = "/images/BackgroundPictures/bannerweb_40aniv.jpg";
}

<body id="homePage">
</body>

@section Scripts
{
    <script>
    var imagen = document.getElementById('homePage');
    imagen.style.backgroundImage = "url('@ViewBag.BackgroundImage')";
    imagen.style.backgroundPosition = 'center';
    imagen.style.backgroundRepeat = 'no-repeat';
    imagen.style.backgroundSize = 'cover';
   </script>
}


