@{
    ViewData["Title"] = "Inicio";
}

<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://youtu.be/qAi_TtkOlpM">building Web apps with ASP.NET Core</a>.</p>
</div>
